[submodule "examples/gradio/prod/reft_goody2"]
	path = examples/agent/prod/reft_goody2
	url = https://huggingface.co/spaces/pyvene/reft_goody2
[submodule "examples/gradio/prod/reft_chat7b"]
	path = examples/agent/prod/reft_chat7b
	url = https://huggingface.co/spaces/pyvene/reft_chat7b
[submodule "examples/agent/prod/reft_emoji_chat"]
	path = examples/agent/prod/reft_emoji_chat
	url = https://huggingface.co/spaces/pyvene/reft_emoji_chat
[submodule "examples/agent/prod/reft_ethos_llama3"]
	path = examples/agent/prod/reft_ethos_llama3
	url = https://huggingface.co/spaces/pyvene/reft_ethos_llama3
[submodule "examples/agent/prod/reft_emoji_chat_llama3"]
	path = examples/agent/prod/reft_emoji_chat_llama3
	url = https://huggingface.co/spaces/pyvene/reft_emoji_chat_llama3
[submodule "examples/agent/prod/reft_golden_gate_bridge_llama3"]
	path = examples/agent/prod/reft_golden_gate_bridge_llama3
	url = https://huggingface.co/spaces/pyvene/reft_golden_gate_bridge_llama3
