torch>=2.2.1
flash-attn>=2.5.6
transformers>=4.39.2
pyvene>=0.0.8
datasets>=2.16.1
protobuf>=3.20.0
matplotlib>=3.7.4
seaborn>=0.13.1
ipywidgets>=8.1.1
plotnine>=0.12.4
huggingface-hub>=0.20.3
numpy>=1.26.4
fsspec>=2023.6.0
accelerate>=0.26.1
sentencepiece>=0.1.96
evaluate>=0.4.1
wandb
scikit-learn
jupyter
